* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  overflow-x: hidden;
  background-color: #af8c9d;
  transition: 0.5s background-color;
}

:focus {
  outline: none;
}

.warning {
  border: solid 2px red;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 1.4rem;
  text-align: center;
}

.main-title {
  text-align: center;
  padding: 1em 5px 0.5em 5px;
  font-size: 3rem;
}

.container {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

  padding: 2% 5%;
  background-color: white;
  min-width: 250px;
  width: 70%;
  margin: 2% auto;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 50px;

  .title {
    width: 100%;
    font-size: 1.6rem;
    border-bottom: 1px solid #af8c9d;
    margin: 5px;
    padding: 10px 0;
    text-align: center;
    transition: 0.5s border-color;
  }

  .input-container {
    width: 35%;
    min-width: 175px;
    height: 300px;
    display: flex;
    align-items: center;
    
    flex-direction: column;
    justify-content: space-around;

    .input,
    .check {
      text-align: center;
      font-size: 1.4rem;
      height: 50px;
      width: 100%;
      margin: 1em;
    }

    .check:hover {
      cursor: pointer;
    }
  }

  .output-container {
    width: 50%;
    min-height: 300px;
    min-width: 175px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
    text-align: center;

    .output-item {
      width: 100%;
      display: block;
    }

    .output-title {
      font-size: 2rem;
    }

    .output {
      font-size: 3rem;
    }

    .description {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 992px) {
  .container {
    .title {
      font-size: 1.4rem;
    }
  }
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 1.2rem;
    text-align: center;
  }
}
@media (max-width: 786px) {
  .container {
    .title {
      font-size: 1rem;
    }
  }
}

@media (max-width: 386px) {
  .main-title {
    font-size: 2rem;
  }
}
