* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  overflow-x: hidden;
  background-color: #af8c9d;
  // background-image: linear-gradient(315deg, #af8c9d 0%, #8cacac 74%);
  transition: 0.5s;
}

:focus {
  outline: none;
}

.warning {
  border: solid 2px red;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 1.4rem;
  text-align: center;
}

h1 {
  text-align: center;
  padding: 1em 0 0.5em 0;
  font-size: 3rem;
}

.container {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

  padding: 2% 5%;
  background-color: white;
  min-width: 250px;
  width: 70%;
  margin: 2% auto;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .title {
    width: 100%;
    font-size: 2rem;
    border-bottom: 1px solid #af8c9d;
    margin: 0 auto;
    padding-bottom: 1%;
  }

  .input-container {
    width: 35%;
    min-width: 175px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    .input,
    .check {
      height: 50px;
      width: 100%;
      margin: 1em;
    }

    .check:hover {
      cursor: pointer;
    }
  }

  .output-container {
    align-self: start;

    width: 50%;
    min-width: 175px;
    display: inline-block;

    .output-title {
      font-size: 2rem;
      padding-top: 5%;
      text-align: center;
    }

    .output {
      padding-top: 5%;
      font-size: 3rem;
    }

    .output-title,
    .output {
      width: 100%;
      display: block;
    }
  }
}
